.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header_menu {
  grid-column: 1/2;
}

.header_links-list {
  display: flex;
  gap: 33px;
}

.header_links-list-item {
  list-style: circle;
  font-size: 18px;
}

.header_links-list-item_no-bullit {
  list-style: none;
}

.header_link {
  text-decoration: underline;
}

.header_link_active:hover {
  text-decoration: none;
}

.header_logo {
  grid-column: 2/3;
}

.header_logo-image {
  width: 148px;
  height: 105px;
}

.address {
  all: unset;
  line-height: 24px;
  font-size: 18px;
}

.header_address {
  grid-column: 3/4;
  justify-self: end;
  max-width: 240px;
}

.cover {
  position: relative;
  z-index: 0;
  background-image: url("../images/cover.jpg");
  background-position: cover;
  padding: 165px 50px 50px;
  min-height: 100px;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  opacity: 0.3;

}

.cover_title {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-transform: uppercase;
  color: #fff;
  font-size: 100px;
  line-height: 1.15;
  position: relative;
  z-index: 2;
 }

.aligned-text_left {
  position: relative;
  z-index: 1;
  text-align: left;
}

.aligned-text_center {
  position: relative;

  z-index: 1;
  text-align: center;
}

.aligned-text_right {
  position: relative;
  z-index: 1;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover_description {
  display: flex;
  margin-top: 114px;
  align-items: center;
}

.cover_description-text {
  margin-right: 110px;
  text-transform: uppercase;
  font-size: 22px;
  color: #fff;
  word-spacing: 18px;
}

.bet-button {
  all: unset;
  background-color: transparent;
  padding: 12px 32px 11px 31px;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
}

.lots {
  margin: 180px 24px 120px;
}

.lots_heading {
  margin-left: 40px;
  margin-bottom: 27px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots_card-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 25px;
  list-style: none;
}

.lots_card-item {
  width: 334px;
  min-height: 100px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.card_title {
  margin: 48px 40px 30px;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  color: #fff;
}

.card_text {
  margin: auto 40px 48px;
  font-size: 20px;
  color: #fff;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots_look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
  font-weight: 400;
}