.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header_menu {
  grid-column: 1/2;
}

.header_links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header_links-list-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.9;
}

.header_links-list-item_no-bullit {
  list-style: none;
  text-decoration: none;
}

.header_link {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header_link_active {
  text-decoration: none;
}

.header_logo {
  grid-column: 2/3;
  height: 105px;
}

.header_logo-image {
  width: 148px;
  height: 105px;
}

.address {
  grid-column: 1/2;
  all: unset;
  max-width: 264px;
  font-size: 18px;
  line-height: 1.38;
}

.header_address {
  grid-column: 3/4;
  justify-self: end;
  max-width: 240px;
}

.address-link_tel_mail {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  z-index: 0;
  background-image: url("../images/cover.jpg");
  background-position: 50% 50%;
  background-size: cover;
  padding: 165px 50px 50px;
  min-height: 100px;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  opacity: 0.6;

}

.cover_title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
  color: #fff;
  font-size: 100px;
  line-height: 115%;
  position: relative;
  z-index: 2;
 }

.aligned-text_left {
  position: relative;
  z-index: 1;
  text-align: left;
}

.aligned-text_center {
  position: relative;
  z-index: 1;
  text-align: center;
}

.aligned-text_right {
  position: relative;
  z-index: 1;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover_description {
  display: flex;
  margin-top: 107px;
  align-items: center;
}

.cover_description-text {
  margin-right: 106px;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1.3;
  color: #fff;
}

.cover_description-text-word-spacing-min {
  word-spacing: 20px;
}

.cover_description-text-word-spacing-max {
  word-spacing: 18px;
}

.cover_description-text-word-spacing-miin {
  word-spacing: 19px;
}

.bet-button {
  all: unset;
  background-color: transparent;
  padding: 11px 32px;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
}

.lots {
  margin: 180px 24px 120px;
}

.lots_heading {
  margin-left: 40px;
  margin-bottom: 27px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

.lots_card-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 25px;
  list-style: none;
}

.lots_card-item {
  width: 334px;
  min-height: 100px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.card_title {
  margin: 48px 40px 35px;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
  line-height: 1.17;
  color: #fff;
}

.card_text {
  margin: auto 40px 48px;
  font-size: 20px;
  line-height: 1.21;
  color: #fff;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots_look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  width: 193px;
  font-size: 20px;
  line-height: 1.1;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  justify-items: center;
  gap: 25px;
  width: 1052px;
  margin: 154px 0 180px 24px;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height:240px;
  border-radius: 50%;
  background-color: #000;
 
}

.about_logo-image {
  width: 148px;
  height: 119px;
}

.about_column {
  margin-right: 3px;
}

.about_title {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 40px;
  line-height: 1.27;
  font-weight: 700;
  text-transform: uppercase;
}

.about_text-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about_text {
  font-size: 20px;
  line-height: 1.19;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 164px 1fr;
  padding: 0 50px 82px;
}

.footer_menu {
  grid-column: 2/3;
  justify-self: center;
}

.footer_menu-list {
  list-style: none;
}

.footer_menu-list-item {
  font-size: 18px;
  line-height: 1.19;
  text-align: center;
}

.footer_menu-link {
  all: unset;
  text-decoration: underline;
  text-underline-offset: 4px;;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_social-list {
  grid-column: 3/4;
  justify-self: end;
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer_social-link {
  text-decoration: none;
}

.footer_social-icon {
  width: 48px;
  height: 48px;
}